---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "light";
@import "base";

@media (prefers-color-scheme: dark) {
	@import "dark";
}

h1 {
	margin-bottom: 20px;
  }
  

  .menu ul {
	list-style: none;
	padding: 0;
	margin: 15 px;
	display: flex;
	justify-content: center; // Center other links
	align-items: center;
	position: relative;
  }
  
  .menu li {
	margin: 0 15px; // Space between menu items
  }
  
  .menu .left-align {
	margin-right: auto; // Pushes "Join Us" to the far left
  }
  